Repository mjboos/unhook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        description: Detect hardcoded secrets using Gitleaks
        entry: uv run gitleaks git --pre-commit --redact --staged --verbose
        language: golang
        pass_filenames: false
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: uv run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: uv run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: uv run check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: uv run end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: uv run trailing-whitespace-fixer
        language: system
        types: [text]

Add weekly date filter for Bluesky feed posts
  src/unhook_tanha/cmd.py
  src/unhook_tanha/feed.py
  tests/test_feed.py
Due: ruff-format, ruff-check

Add current_date parameter for flexible date cutoff calculation
  src/unhook_tanha/feed.py
Due: ruff-format, ruff-check

Apply linting fixes from pre-commit hooks
  src/unhook_tanha/cmd.py
  src/unhook_tanha/feed.py
  tests/test_feed.py
Due: ruff-format, ruff-check

Add on-demand integration workflow for Bluesky feed
  .github/workflows/integration.yml
Due: check-yaml

Rename project from unhook-tanha to unhook
  Dockerfile
  pyproject.toml
  src/unhook/__init__.py
  src/unhook/cmd.py
  src/unhook/feed.py
  src/unhook_tanha/__init__.py
  test_script.ipynb
  tests/__init__.py
  tests/test_cmd.py
  tests/test_feed.py
  uv.lock
Due: ruff-format, ruff-check, check-toml

Update CLI integration test for EPUB output
  pyproject.toml
  src/unhook/cmd.py
  src/unhook/epub_builder.py
  src/unhook/epub_service.py
  src/unhook/post_content.py
  tests/test_cmd.py
  tests/test_epub_builder.py
  tests/test_epub_service.py
  tests/test_feed.py
  tests/test_post_content.py
Due: ruff-format, ruff-check, check-toml

Fix EPUB tests and enable async pytest support
  pyproject.toml
  src/unhook/epub_builder.py
  src/unhook/post_content.py
  test_script.ipynb
  tests/test_cmd.py
  tests/test_epub_builder.py
  tests/test_epub_service.py
  tests/test_feed.py
  tox.ini
  uv.lock
Due: ruff-format, ruff-check, check-toml

Fix command in integration.yml for fetching feed
  .github/workflows/integration.yml
Due: check-yaml

Add EPUB export to integration workflow
  .github/workflows/integration.yml
Due: check-yaml

Update CLI tests for min length filter
  src/unhook/cmd.py
  src/unhook/epub_service.py
  tests/test_cmd.py
Due: ruff-format, ruff-check

Rename project in README.md
  README.md
Due: none

Ensure combined EPUB chapter matches post naming
  src/unhook/epub_builder.py
Due: ruff-format, ruff-check

Remove per-post headings from EPUB content
  src/unhook/epub_builder.py
  tests/test_epub_builder.py
Due: ruff-format, ruff-check

Flatten EPUB post sections
  src/unhook/epub_builder.py
Due: ruff-format, ruff-check

Handle empty EPUB content
  src/unhook/epub_builder.py
  tests/test_epub_builder.py
Due: ruff-format, ruff-check

Filter replies from EPUB export
  README.md
  docs/self_thread_research.md
  src/unhook/epub_service.py
  tests/test_epub_service.py
Due: ruff-format, ruff-check

Format tests after pre-commit
  tests/test_epub_service.py
Due: ruff-format, ruff-check

Improve self-thread detection and update EPUB tests
  src/unhook/epub_service.py
  src/unhook/feed.py
  tests/test_epub_service.py
  tests/test_feed.py
Due: ruff-format, ruff-check

Remove EPUB recency filtering
  src/unhook/cmd.py
  src/unhook/epub_service.py
Due: ruff-format, ruff-check

Update Kindle workflow SMTP settings
  .github/workflows/kindle.yml
Due: check-yaml

Change email secure setting to false
  .github/workflows/kindle.yml
Due: check-yaml

Filter reposts from EPUB exports
  src/unhook/epub_service.py
  tests/test_epub_service.py
Due: ruff-format, ruff-check

Handle repost record types in EPUB export
  src/unhook/epub_service.py
  tests/test_epub_service.py
Due: ruff-format, ruff-check

Wrap feed option help text
  src/unhook/cmd.py
  src/unhook/feed.py
  tests/test_feed.py
Due: ruff-format, ruff-check

Compress images for smaller EPUBs
  pyproject.toml
  src/unhook/epub_service.py
  uv.lock
Due: ruff-format, ruff-check, check-toml

Increase EPUB image compression
  src/unhook/epub_service.py
Due: ruff-format, ruff-check

Include quoted post content in mapped bodies
  src/unhook/post_content.py
  tests/test_post_content.py
Due: ruff-format, ruff-check

Handle nested quoted post records
  src/unhook/post_content.py
Due: ruff-format, ruff-check

Sort epub posts by creation time
  src/unhook/epub_service.py
Due: ruff-format, ruff-check

Order epub posts newest first
  src/unhook/epub_service.py
Due: ruff-format, ruff-check

Handle numpy facet arrays for link replacement
  src/unhook/post_content.py
  tests/test_post_content.py
Due: ruff-format, ruff-check

Include reposts with thread aggregation and higher min length
  src/unhook/cmd.py
  src/unhook/epub_builder.py
  src/unhook/epub_service.py
  src/unhook/post_content.py
  tests/test_epub_service.py
Due: ruff-format, ruff-check

Escape hashtags in EPUB generation to prevent heading conversion
  src/unhook/epub_builder.py
  tests/test_epub_builder.py
Due: ruff-format, ruff-check

Apply ruff formatting
  src/unhook/epub_builder.py
  tests/test_epub_builder.py
Due: ruff-format, ruff-check

Refactor codebase and add comprehensive unit tests
  src/unhook/constants.py
  src/unhook/epub_service.py
  src/unhook/post_content.py
  tests/conftest.py
  tests/test_constants.py
  tests/test_epub_service.py
  tests/test_feed.py
  tests/test_post_content.py
Due: ruff-format, ruff-check

Fix import sorting and remove unused imports
  src/unhook/epub_service.py
  tests/test_constants.py
  tests/test_epub_service.py
  tests/test_feed.py
  tests/test_post_content.py
Due: ruff-format, ruff-check

Add Twitter feed integration via Nitter RSS
  pyproject.toml
  src/unhook/cmd.py
  src/unhook/epub_builder.py
  src/unhook/epub_service.py
  src/unhook/twitter_feed.py
  tests/test_epub_builder.py
  tests/test_twitter_feed.py
  twitter_users.txt
  uv.lock
Due: ruff-format, ruff-check, check-toml

Add Twitter support to GitHub Actions workflows
  .github/workflows/integration.yml
  .github/workflows/kindle.yml
  .github/workflows/twitter-integration.yml
Due: check-yaml

Fix import sorting and remove unused imports
  tests/test_twitter_feed.py
Due: ruff-format, ruff-check

Improve Twitter RSS fetching robustness
  src/unhook/twitter_feed.py
Due: ruff-format, ruff-check
