Repository mjboos/unhook: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, check-toml, check-yaml

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

ruff-check:
  name: ruff check
  entry: uv run ruff check
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: uv run check-yaml
  language: system

Add tests for Twitter RSS fetching robustness
  tests/test_twitter_feed.py
Due: ruff-format, ruff-check

Add fetch-twitter CLI command for standalone Twitter data extraction
  src/unhook/cmd.py
  tests/test_cmd.py
Due: ruff-format, ruff-check

Make Twitter fetching fail gracefully
  src/unhook/epub_service.py
Due: ruff-format, ruff-check

Switch Twitter integration from Nitter RSS to twikit GuestClient
  pyproject.toml
  src/unhook/twitter_feed.py
  tests/test_twitter_feed.py
  uv.lock
Due: ruff-format, ruff-check, check-toml

Make Twitter fetching fail gracefully
  src/unhook/twitter_feed.py
Due: ruff-format, ruff-check

Add Gmail-to-Kindle feature for newsletter digests
  .github/workflows/gmail-kindle.yml
  src/unhook/cmd.py
  src/unhook/email_content.py
  src/unhook/gmail_epub_service.py
  src/unhook/gmail_service.py
  tests/test_email_content.py
  tests/test_gmail_epub_service.py
  tests/test_gmail_service.py
Due: ruff-format, ruff-check, check-yaml

Fix linting issues in test files
  tests/test_gmail_epub_service.py
  tests/test_gmail_service.py
Due: ruff-format, ruff-check

Use SMTP_USERNAME and GAPPPWD env vars for Gmail auth
  .github/workflows/gmail-kindle.yml
  src/unhook/cmd.py
Due: ruff-format, ruff-check, check-yaml

Fix EPUB CSS content leak and TIFF image format issues
  src/unhook/epub_builder.py
  src/unhook/epub_service.py
  src/unhook/gmail_epub_service.py
  tests/test_cmd.py
  tests/test_epub_builder.py
  tests/test_epub_service.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check

Fix Gmail EPUB rendering as images on Kindle
  src/unhook/gmail_epub_service.py
Due: ruff-format, ruff-check

Strip table layouts, small images, and boilerplate from email EPUB
  src/unhook/gmail_epub_service.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check

schedule workflow
  .github/workflows/gmail-kindle.yml
Due: check-yaml

kindle scheduling for bsky
  .github/workflows/kindle.yml
  CLAUDE.md
Due: check-yaml

improve test coverage
  pyproject.toml
  tests/test_cmd.py
  tests/test_feed.py
  tests/test_gmail_service.py
Due: ruff-format, ruff-check, check-toml

newsletter integration test
  tests/fixtures/ai_guide_newsletter.eml
  tests/fixtures/waymo_newsletter.eml
  tests/test_newsletter_integration.py
Due: ruff-format, ruff-check

Update README.md and CLAUDE.md to reflect current project state
  CLAUDE.md
  README.md
Due: none

Align Bluesky Kindle schedule with newsletter workflow (Mon & Thu)
  .github/workflows/kindle.yml
Due: check-yaml

remove artefact upload
  .github/workflows/gmail-kindle.yml
  .github/workflows/integration.yml
  .github/workflows/kindle.yml
Due: check-yaml

updated readme
  README.md
Due: none

fix epub embedded external image issue
  src/unhook/email_content.py
  src/unhook/gmail_epub_service.py
  tests/test_email_content.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check

add image src check
  .github/workflows/gmail-kindle.yml
Due: check-yaml

fix: remove embedded image src
  src/unhook/email_content.py
  tests/test_email_content.py
Due: ruff-format, ruff-check

regex fix
  .github/workflows/gmail-kindle.yml
  src/unhook/email_content.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check, check-yaml

docs: note Kindle delivery schedule in README intro
  README.md
Due: none

docs: state Python 3.12+ requirement in Installation section
  README.md
Due: none

fix: stop truncating newsletter titles in EPUB chapter headings
  src/unhook/gmail_epub_service.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check

feat: show the publication name on newsletter title pages
  src/unhook/email_content.py
  src/unhook/gmail_epub_service.py
  tests/test_email_content.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check

feat: drop the TOC label cap and show the publication in the TOC
  src/unhook/gmail_epub_service.py
  tests/test_gmail_epub_service.py
Due: ruff-format, ruff-check

Add research doc on Substack link collection to Kindle pipeline
  docs/substack_kindle_research.md
Due: none

Document unofficial status and stability of Substack internal API
  docs/substack_kindle_research.md
Due: none

Evaluate replacing email ingestion with API-based subscription pulls
  docs/substack_kindle_research.md
Due: none

Add substack-to-kindle command, service, workflow, and tests
  .github/workflows/substack-kindle.yml
  CLAUDE.md
  docs/substack_kindle_research.md
  src/unhook/cmd.py
  src/unhook/substack_service.py
  tests/test_cmd.py
  tests/test_substack_service.py
Due: ruff-format, ruff-check, check-yaml

Add list-subscriptions command for discovering Substack publications
  CLAUDE.md
  docs/substack_kindle_research.md
  src/unhook/cmd.py
  src/unhook/substack_service.py
  tests/test_cmd.py
  tests/test_substack_service.py
Due: ruff-format, ruff-check

Correct paid-tier labelling in list-subscriptions
  CLAUDE.md
  docs/substack_kindle_research.md
  src/unhook/cmd.py
  src/unhook/substack_service.py
  tests/test_cmd.py
  tests/test_substack_service.py
Due: ruff-format, ruff-check

Report subscriber-only skips by intent, not always as a warning
  src/unhook/substack_service.py
  tests/test_substack_service.py
Due: ruff-format, ruff-check

Run the Substack digest daily with a matching one-day window
  .github/workflows/substack-kindle.yml
  CLAUDE.md
  docs/substack_kindle_research.md
Due: check-yaml

Remove the scheduled Gmail newsletter workflow
  .github/workflows/gmail-kindle.yml
  CLAUDE.md
  README.md
Due: check-yaml

Fall back to RSS when Substack's JSON API is blocked
  .github/workflows/substack-kindle.yml
  CLAUDE.md
  src/unhook/cmd.py
  src/unhook/substack_service.py
  tests/test_cmd.py
  tests/test_substack_service.py
Due: ruff-format, ruff-check, check-yaml

Drop paywalled teasers on the RSS fallback path
  CLAUDE.md
  src/unhook/substack_service.py
  tests/test_substack_service.py
Due: ruff-format, ruff-check

Add a temporary probe for Substack access from a runner
  .github/workflows/substack-access-probe.yml
Due: check-yaml

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
